@import url("https://js.arcgis.com/4.22/esri/css/main.css");

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: left;
}

.webmap {
  height: 100%;
  width: 100%;
}

.esri-popup__button.esri-popup__action {
  display: none;
}

.esri-component.esri-popup.esri-popup--aligned-bottom-center.esri-popup--shadow {
  border-radius: 5px;
  width: 250px !important;
  max-height: 120px !important;
}

.esri-popup__main-container.esri-widget {
  width: 250px !important;
  max-height: 120px !important;
  border-radius: 5px;
  text-transform: capitalize;
}

.esri-popup__content {
  text-align: left !important;
  flex-flow: unset;
  font-family: inherit;
  font-weight: bold;
}

.esri-popup__header-container,
.esri-popup__header-buttons,
.esri-popup__button {
  outline: none;
}

.esri-popup__header {
  border-bottom: 1px solid gray;
  outline: none;
}

.esriLegend {
  margin-left: 100px;
}